.grid-container {
    width: 100%;
    position: relative;
}

.grid-container.basic [class^="col"] {
    float: left;
}

.masonry-column-sizer,
.grid-container .col-1,
.grid-container .col-2,
.grid-container .col-3,
.grid-container .col-4 {
    width: 100%;
}

.grid-container::after {
	content: "";
	display: table;
	clear: both;
}

.grid-container .mob-no-show {
    display: none;
}

.grid-container .col-2:last-of-type {
    margin-top: 1em;
}

    
@media only screen and (min-width: 40em) {  /** 640px **/
    
    .grid-container.basic {
        margin: 0 -0.5em;
    }
    
    .masonry-column-sizer,
    .grid-container .col-4 {
        width: calc( 50% - 1em );
    }
    
    .masonry-gutter-sizer {
        width: 1em;
    }
            
}

@media only screen and (min-width: 47.875em) {  /** 766px **/
    
    .grid-container.basic .mob-no-show {
        display: block;
    }
    
}

@media only screen and (min-width: 60em) { /* 960px */
    
    .masonry-column-sizer,
    .grid-container .col-4 {
        width: calc( 33% - 1em );
    }
   
        
}

@media only screen and (min-width: 65em) { /* 1040px */
    
    .masonry-column-sizer,
    .grid-container .col-4 {
        width: calc( 25% - 1em );
    }
    
}

@media only screen and (min-width: 75em) {
        
    
}