.grid-container {
    width: 100%;
    position: relative;
}

.grid-container.basic [class^="col"] {
    float: left;
}

.grid-container.basic .col-1,
.grid-container.basic .col-2,
.grid-container.basic .col-3,
.grid-container.basic .col-4 {
    width: 100%;
}

.grid-container.basic::after {
	content: "";
	display: table;
	clear: both;
}

.grid-container.basic .mob-no-show {
    display: none;
}

.grid-container.basic .col-2:last-of-type {
    margin-top: 1em;
}

.bricklayer-column-sizer {
    display: none;
    width: 100%;
}
    
@media only screen and (min-width: 40em) {  /** 640px **/
    
    .grid-container.basic .col-4,
    .bricklayer-column-sizer {
        width: 50%;
    }
            
}

@media only screen and (min-width: 47.875em) {  /** 766px **/
    
    .grid-container.basic .mob-no-show {
        display: block;
    }
    
}

@media only screen and (min-width: 60em) { /* 960px */
    
    .grid-container.basic .col-4 {
        width: 33%;
    }
    
    .bricklayer-column-sizer {
        width: 33%;
    }
        
}

@media only screen and (min-width: 65em) { /* 1040px */
        
    .grid-container.basic .col-4 {
        width: 25%;
    }
    
    .bricklayer-column-sizer {
        width: 25%;
    }
    
}

@media only screen and (min-width: 75em) {
        
    
}