.basic .module {
    float: left;
    margin: 0 0.5em 1em 0.5em;
}

.module {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    font-size: 1rem; /** Reset module top level div **/
    float: left;
    margin-bottom: 1em;
}

.module .entry-media {
    height: 300px;
}


/** Image **/
.module .entry-media {
    width: 100%;
    
}

.module img.alignright {
    margin: 0;
    display: block;
    float: none;
}