/* Eric Meyer's Reset CSS v2.0 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Fix */
.group:before, .group:after,
.gf_clear:before, .gf_clear:after,
.gfield:before, .gfield:after,
.gforms_confirmation_message:before, .gforms_confirmation_message:after {
  content: "";
  display: table; }

.gfield:after, .gfield:before,
.group:after, .gf_clear:after, .gforms_confirmation_message:after {
  clear: both; }

.group, .gf_clear, .gfield, .gforms_confirmation_message {
  zoom: 1; }

/* ie6/7 (trigger hasLayout) */
*, *:before, *:after {
  box-sizing: inherit; }

*:focus {
  outline: 0;
  outline: none; }

/* Clean Inputs */
input {
  border-radius: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

textarea:focus,
input:focus {
  outline: none; }

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0; }

button {
  padding: 0;
  border: none;
  background: none; }

/** Fonts **/
/* At this point we set all fonts at PX size, then in the rest of the doc use Em, and Rem */
html {
  font-size: 16px;
  box-sizing: border-box; }

body {
  font-size: 1em;
  font-weight: 400; }

/** Links **/
a:hover,
a:focus,
a h1:hover,
a h1:focus,
a h2:hover,
a h2:focus,
a h3:hover,
a h3:focus,
a h4:hover,
a h4:focus,
a h5:hover,
a h5:focus,
p a:hover,
p a:focus,
a p:hover,
a p:focus {
  opacity: 0.65; }

/* These font sizes are dictated by the title size used */
h1,
h2,
h3,
h4,
h5 {
  color: #000;
  margin-bottom: 0.875rem; }

p,
li {
  color: #363535;
  margin-bottom: 0.875rem; }

.title-1,
.title-2,
.title-3,
.title-4,
.title-5 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 0.4em; }

blockquote p {
  font-size: 2em;
  line-height: 1em;
  font-weight: 800;
  margin-bottom: 0; }

p.author {
  color: #000;
  font-weight: 800;
  font-size: 1.25em;
  text-transform: uppercase; }

h1,
p.title-1,
h1.title-1,
h2.title-1,
h3.title-1,
h4.title-1,
h5.title-1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 800; }

h2,
p.title-2,
h1.title-2,
h2.title-2,
h3.title-2,
h4.title-2,
h5.title-2 {
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 800; }

h3,
p.title-3,
h1.title-3,
h2.title-3,
h3.title-3,
h4.title-3,
h5.title-3 {
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 800; }

h4,
p.title-4,
h1.title-4,
h2.title-4,
h3.title-4,
h4.title-4,
h5.title-4 {
  font-size: 1.25em;
  line-height: 1.25em;
  font-weight: 800; }

h5
p.title-5,
h1.title-5,
h2.title-5,
h3.title-5,
h4.title-5,
h5.title-5 {
  font-size: 1.125em;
  line-height: 1.125em;
  font-weight: 800; }

p.intro {
  font-size: 1.25em;
  line-height: 1.125em;
  margin-bottom: 1.5em; }

strong, bold {
  font-weight: 700; }

em, i {
  font-style: italic; }

ul, ol {
  margin: 0; }

ol {
  list-style-type: decimal; }

.wysiwyg ul {
  margin-bottom: 0.625em; }

.wysiwyg ol li,
.wysiwyg ul li {
  list-style: none;
  font-size: 1.125em;
  padding-left: 1.25em;
  position: relative;
  margin-bottom: 0.25em; }

.wysiwyg ul li:before {
  position: absolute;
  font-family: fontawesome;
  content: "\f111";
  color: #363535;
  font-size: 0.5em;
  margin-left: -2em;
  margin-bottom: 0.5em; }

.wysiwyg ol li {
  margin-bottom: 2rem;
  padding-left: 2.5rem; }

.wysiwyg ol {
  counter-reset: customCount; }

.wysiwyg ol > li {
  counter-increment: customCount; }

.wysiwyg ol li:before {
  position: absolute;
  content: counter(customCount);
  left: 0;
  top: 0;
  text-align: center;
  width: 0.9375em;
  color: #363535; }

.wysiwyg .alignleft, img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.wysiwyg .alignright, img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.wysiwyg .aligncenter, img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 30em) {
  /** 480px **/
  h1,
  p.title-1,
  h1.title-1,
  h2.title-1,
  h3.title-1,
  h4.title-1,
  h5.title-1 {
    font-size: 2em;
    line-height: 1em;
    font-weight: 700; }

  h2,
  p.title-2,
  h1.title-2,
  h2.title-2,
  h3.title-2,
  h4.title-2,
  h5.title-2 {
    font-size: 1.875em;
    line-height: 1em;
    font-weight: 700; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 50em) {
  /** 800px **/
  h1,
  p.title-1,
  h1.title-1,
  h2.title-1,
  h3.title-1,
  h4.title-1,
  h5.title-1 {
    font-size: 2.25em; }

  p.intro {
    font-size: 1.5625em; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 64em) {
  /** 992px **/
  h1,
  p.title-1,
  h1.title-1,
  h2.title-1,
  h3.title-1,
  h4.title-1,
  h5.title-1 {
    font-size: 2.325em; } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 75em) {
  /** 1200px **/
  h1,
  p.title-1,
  h1.title-1,
  h2.title-1,
  h3.title-1,
  h4.title-1,
  h5.title-1 {
    font-size: 2.5em; }

  .blockquote,
  blockquote p {
    margin: 1.5em 0; }

  .wysiwyg p,
  .wysiwyg ul {
    margin-bottom: 1.25em; } }
@media only screen and (min-width: 87.5em) {
  /** 1400px **/
  blockquote p {
    font-size: 3.5em; }

  h1,
  p.title-1,
  h1.title-1,
  h2.title-1,
  h3.title-1,
  h4.title-1,
  h5.title-1 {
    font-size: 2.75em; }

  p,
  .wysiwyg ol li,
  .wysiwyg ul li {
    font-size: 1.25em; } }
/** Essentials **/
/* This file holds essential css that is too short to go anywhere else **/
/* You know, misc type stuff... just look! */
/** Screen Reader Text **/
/** For more info: https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/ **/
.screen-reader-text {
  position: absolute !important;
  left: -999em; }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/**  Go to top button  **/
.toTop {
  position: fixed !important;
  right: 0.5em;
  bottom: -5.625em;
  display: block;
  font-size: 1.375em;
  line-height: 2.1875em;
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 9999;
  cursor: pointer;
  border-radius: 50%; }

.toTop.show {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
  bottom: 3em; }

/** Object Fit **/
.obj-fit.cover,
img.obj-fit.cover {
  object-fit: cover;
  font-family: 'object-fit: cover;'; }

obj-fit.contain,
img.obj-fit.contain {
  object-fit: contain;
  font-family: 'object-fit: contain;'; }

/** Transitions **/
.btn,
button,
.smooth,
.smooth:after,
.smooth:before {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

a {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  display: block; }

.trans-delay.smooth {
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  -ms-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s; }

.sneak-in {
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.105, 0.49, 0.91);
  -moz-transition: all 300ms cubic-bezier(0.55, 0.105, 0.49, 0.91);
  -o-transition: all 300ms cubic-bezier(0.55, 0.105, 0.49, 0.91);
  transition: all 300ms cubic-bezier(0.55, 0.105, 0.49, 0.91); }

/** Helpers **/
.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/** Buttons **/
button,
.btn {
  font-size: 1.125em;
  display: block;
  color: #fff;
  line-height: 3em;
  border: 0;
  font-weight: 600;
  text-align: right;
  margin-top: 0.5em;
  padding: 0.125em 1em;
  background-color: #868686;
  cursor: pointer;
  position: relative;
  text-decoration: none; }

button:before,
.btn:before {
  content: " "; }

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  background-color: #5d5d5d; }

.btn.disabled {
  background-color: #b3b3b3;
  cursor: not-allowed; }

button.fancybox-close-small:hover {
  background-color: transparent; }

/* Videos */
.embed-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important; }

/**  Loading  **/
#load-more-posts {
  margin: 0 auto; }

#load-more-wrap {
  position: relative;
  margin: 1.125em auto;
  width: 100%; }

#load-more-wrap.loading {
  height: 4em; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.loader {
  position: absolute;
  left: calc(50% - 1.5em);
  top: calc(50% - 1.5em);
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: 0.5rem solid rgba(72, 72, 72, 0.2);
  border-top-color: #868686;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear; }

.load-more-posts-error {
  display: none;
  text-align: center;
  margin: 1.125em; }

.load-more-posts-error p {
  margin: 0;
  padding: 0;
  font-size: 1.125em;
  color: #ff3939; }

.load-more-posts-error.show {
  display: block; }

/* Medium Devices, Desktops */
@media only screen and (min-width: 62em) {
  /** 992px **/
  /**  Loading  **/
  #load-more-wrap {
    margin: 2.25em auto; } }
/** General Wrappers & Grid **/
/* Here we set the page contraints and grid framework to fit all the elements inside */
/* This includes header, footer, page-wrapper ect */
html,
body {
  height: 100%; }

.navigation-open {
  overflow-y: hidden; }

/** Keep footer at bottom **/
#footer-pusher {
  position: relative;
  min-height: 100%; }

footer {
  position: relative;
  width: 100%; }

/** This pushes all content to the same center position **/
.page-inner-wrap {
  width: 100%;
  padding: 0 1.125em;
  margin: 0 auto;
  position: relative; }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 30em) {
  /** 480px **/ }
/* Small Devices, Tablets */
@media only screen and (min-width: 47.875em) {
  /** 766px **/
  .logged-in header {
    top: 32px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 62em) {
  /** 992px **/ }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 75em) {
  /** 1200px **/
  .page-inner-wrap {
    width: 73em; } }
/** IMac **/
@media only screen and (min-width: 79.375em) {
  /** 1270px **/
  .page-inner-wrap {
    width: 76em; } }
@media only screen and (min-width: 90em) {
  .page-inner-wrap {
    width: 86em; } }
/** Pauls Screen - No bigger than this! **/
@media only screen and (min-width: 100em) {
  /** 1600px **/
  .page-inner-wrap {
    width: 98em; } }
/** Round up wrappers **/
@media only screen and (min-width: 102em) {
  .page-inner-wrap {
    width: 100em; } }
/** Round up wrappers **/
@media only screen and (min-width: 140em) {
  .page-inner-wrap {
    width: 137.5em; } }
header {
  margin: 1em 0; }

header .logo {
  float: left; }

header .logo a {
  text-decoration: none; }

header .logo h1 {
  font-size: 1.625em;
  margin: 0; }

header .logo img {
  height: 2em;
  max-width: 100%; }

/** Burger **/
.burger-wrapper {
  margin-top: 0.25em;
  float: right; }

#burger {
  margin: 0;
  display: block;
  float: left;
  width: 1.5em;
  height: 1.375em;
  position: relative;
  cursor: pointer; }

#burger .trig {
  position: absolute;
  width: 100%;
  height: 100%; }

#burger span {
  display: block;
  position: absolute;
  height: 0.125em;
  width: 100%;
  background: #484848;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#burger span:nth-child(1) {
  top: 0px; }

#burger span:nth-child(2),
#burger span:nth-child(3) {
  top: calc(50% - 0.0625em); }

#burger span:nth-child(4) {
  top: calc(100% - 0.125em); }

body.navigation-open #burger span:nth-child(1) {
  top: calc(50% - 0.125em);
  width: 0%;
  left: 50%; }

body.navigation-open #burger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

body.navigation-open #burger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

body.navigation-open #burger span:nth-child(4) {
  top: calc(50% - 0.125em);
  width: 0%;
  left: 50%; }

/** Search **/
header form {
  float: left; }

/**  Menu **/
#site-navigation {
  background-color: #fff;
  display: block;
  position: fixed;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 100%;
  overflow-y: auto;
  -webkit-transition: bottom 0.5s;
  -moz-transition: bottom 0.5s;
  -ms-transition: bottom 0.5s;
  -o-transition: bottom 0.5s;
  transition: bottom 0.5s;
  z-index: 5000;
  padding: 0 1.125em; }

body.navigation-open #site-navigation {
  bottom: 0;
  padding-bottom: 3.75em; }

#site-navigation ul li a {
  padding: 0.5em 0; }

#site-navigation a {
  text-decoration: none; }

#site-navigation .toggle {
  display: none; }

#site-navigation .menu-item-has-children > .toggle {
  display: block; }

/* Large Devices, Wide Screens */
/* This is delayed due to menu being too long and stacking incorrectly */
@media only screen and (min-width: 79.375em) {
  /** 1270px **/
  header .logo {
    height: auto; }

  header .logo {
    float: left;
    height: 3em; }

  header .logo h1 {
    font-size: 2.5em; }

  header .logo img {
    height: 3em; }

  /** Burger **/
  #burger {
    display: none; }

  /** Menu **/
  #site-navigation {
    overflow: visible;
    position: relative;
    margin-top: 0.5em;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    padding: 0;
    float: right; }

  #site-navigation li {
    display: inline-block; }

  #site-navigation li li {
    display: block;
    padding: 1em; }

  #site-navigation > div > ul > li {
    padding: 0.5em; }

  #site-navigation .menu-item-has-children > .toggle {
    display: none; }

  #site-navigation li.menu-item-has-children > ul {
    position: absolute;
    min-width: 160px;
    z-index: 1;
    margin: 0.5em 0 0 0;
    background-color: #f2f2f2; }

  #site-navigation ul ul li.menu-item-has-children > ul {
    left: 100%;
    top: 0;
    margin: 0; }

  #site-navigation li.menu-item-has-children:hover > ul {
    display: block; }

  #site-navigation ul li a {
    padding: 0; } }
.toggle-list ul {
  display: none; }

.toggle-list li {
  position: relative; }

.toggle-list > li,
.toggle-list ul > li {
  margin-bottom: 0; }

.toggle-list > li {
  margin: 0 2em 0 0; }

.toggle-list li > ul {
  margin: 0 0 0 0.5em; }

#site-navigation ul li a.toggle,
.toggle-list .toggle {
  position: absolute;
  top: 0;
  right: -2em;
  cursor: pointer;
  padding: 0.5em; }

/** 
 * Only add animation to top level toggles, 
 * or toggles that have a parent open.
 * Otherwise the menu opening breaks
**/
.toggle-list .toggle i {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.toggle-list .open > .toggle i {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.grid-container {
  width: 100%;
  position: relative; }

.grid-container.basic [class^="col"] {
  float: left; }

.masonry-column-sizer,
.grid-container .col-1,
.grid-container .col-2,
.grid-container .col-3,
.grid-container .col-4 {
  width: 100%; }

.grid-container .col-4 {
  margin: 0 0 1em 0; }

.grid-container::after {
  content: "";
  display: table;
  clear: both; }

.grid-container .mob-no-show {
  display: none; }

.grid-container .col-2:last-of-type {
  margin-top: 1em; }

@media only screen and (min-width: 40em) {
  /** 640px **/
  .grid-container.basic .col-4 {
    margin: 0 1em 1em 0; }

  .grid-container.basic .col-4:nth-child(even) {
    margin-right: 0; }

  .masonry-column-sizer,
  .grid-container .col-4 {
    width: calc( 50% - 0.5em ); }

  .masonry-gutter-sizer {
    width: 1em; } }
@media only screen and (min-width: 47.875em) {
  /** 766px **/
  .grid-container.basic .mob-no-show {
    display: block; }

  .grid-container .col-4 {
    margin-bottom: 2em; }

  .grid-container.basic .col-4:nth-child(odd) {
    margin-right: 2em; }

  .masonry-column-sizer,
  .grid-container .col-4 {
    width: calc( 50% - 1em ); }

  .masonry-gutter-sizer {
    width: 2em; } }
@media only screen and (min-width: 65em) {
  /* 1040px */
  .grid-container.basic .col-4 {
    margin-bottom: 2em;
    width: calc( 33% - (2em / 3) ); }

  .grid-container.basic .col-4:nth-child(odd),
  .grid-container.basic .col-4:nth-child(even) {
    margin-right: 1em; }

  .grid-container.basic .col-4:nth-child(3n+3) {
    margin-right: 0; }

  .masonry-column-sizer,
  .grid-container .col-4 {
    width: calc( 33% - 0.5em ); }

  .masonry-gutter-sizer {
    width: 1em; } }
@media only screen and (min-width: 90em) {
  .grid-container.basic .col-4 {
    margin-bottom: 1em;
    width: calc( 25% - (3em / 4) ); }

  .grid-container.basic .col-4:nth-child(3n+3) {
    margin-right: 1em; }

  .grid-container.basic .col-4:nth-child(4n+4) {
    margin-right: 0; }

  .masonry-column-sizer,
  .grid-container .col-4 {
    width: calc( 25% - 0.75em ); } }
@media only screen and (min-width: 100em) {
  .grid-container.basic .col-4 {
    margin-bottom: 1em;
    width: calc( 25% - (5.5em / 4) ); }

  .grid-container.basic .col-4:nth-child(odd),
  .grid-container.basic .col-4:nth-child(even),
  .grid-container.basic .col-4:nth-child(3n+3) {
    margin-right: 1.5em; }

  .grid-container.basic .col-4:nth-child(4n+4) {
    margin-right: 0; }

  .masonry-column-sizer,
  .grid-container .col-4 {
    width: calc( 25% - 1.5em ); }

  .masonry-gutter-sizer {
    width: 2em; } }
.basic .module {
  float: left; }

.module {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  font-size: 1rem;
  /** Reset module top level div **/
  float: left; }

.module .entry-text {
  padding: 0.875em 0.875em 2em 0.875em;
  border-bottom-left-radius: 0.75em;
  border-bottom-right-radius: 0.75em;
  background-color: rgba(242, 242, 242, 0.25);
  transition: all .5s ease-out 0.75s; }

.module a:hover .entry-text {
  background-color: #f2f2f2;
  transition: all 0.3s ease-out 0.1s; }

.module a,
.module a h2,
.module a h1,
.module a p {
  opacity: 1;
  text-decoration: none; }

.module a h2,
.module a h1,
.module a p {
  opacity: 0.8; }

.module a:hover h2,
.module a:hover h1,
.module a:hover p {
  opacity: 1; }

/** Fonts **/
.module h1,
.module h2 {
  font-size: 1.25em; }

.module p {
  font-size: 1em; }

/** Image **/
.module .entry-media {
  width: 100%;
  padding-bottom: 67.666%;
  position: relative; }

.module .entry-media.sqr {
  padding-bottom: 100%; }

.module .entry-media .media-fit,
.module .entry-media .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }

.module .entry-media .overlay {
  opacity: 0;
  background-color: #fff;
  z-index: 5; }

.module a:hover .entry-media .overlay {
  opacity: 0.1; }

.entry-media .media-fit img {
  width: 100%;
  height: 100%;
  z-index: 3; }

.module:not(.module-gallery) a:hover .entry-media .media-fit img {
  -ms-transform: scale(1.05, 1.05);
  /* IE 9 */
  -webkit-transform: scale(1.05, 1.05);
  /* Safari */
  transform: scale(1.05, 1.05); }

.module img.alignright {
  margin: 0;
  display: block;
  float: none; }

/** Gallery **/
.module .lory-carousel .js_dots {
  position: absolute;
  z-index: 8;
  bottom: -4em;
  transition: all .5s ease-out 0.3s;
  width: 100%; }

.module .lory-carousel .js_dots li {
  background-color: #5d5d5d; }

.module .lory-carousel .js_dots li.active {
  background-color: #fff; }

/** Likes and Comments **/
.module .user-interaction {
  width: 100%;
  padding: 0.875em;
  font-size: 0.8em;
  position: absolute;
  bottom: -4em;
  left: 0;
  z-index: 7;
  transition: all .5s ease-out 0.3s; }

.module .user-interaction.back-panel {
  background-color: rgba(255, 255, 255, 0.3); }

.module a:hover .lory-carousel .js_dots,
.module a:hover .user-interaction {
  bottom: 0;
  transition: all 0.3s ease-out 0.1s; }

.module .user-interaction .likes i {
  color: #ef4545;
  margin-right: 0.125em; }

.gallery {
  margin: 0 auto 18px; }

.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  width: 33%; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery img {
  box-shadow: 0px 0px 4px #999;
  border: 1px solid white;
  padding: 8px;
  background: #f2f2f2; }

.gallery img:hover {
  background: white; }

.gallery-columns-2 .attachment-medium {
  max-width: 92%;
  height: auto; }

.gallery-columns-4 .attachment-thumbnail {
  max-width: 84%;
  height: auto; }

.gallery .gallery-caption {
  color: #888;
  font-size: 12px;
  margin: 0 0 12px; }

.gallery dl, .gallery dt {
  margin: 0; }

.gallery br + br {
  display: none; }

/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
.lory-carousel {
  position: relative;
  height: 100%;
  overflow: hidden; }

.lory-carousel .frame {
  width: 100%;
  position: relative;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap; }

.lory-carousel .slides {
  display: inline-block; }

.lory-carousel li {
  position: relative;
  display: inline-block;
  margin: 0;
  height: 100%; }

.lory-carousel .prev, .lory-carousel .next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  display: block;
  cursor: pointer; }

.lory-carousel .next {
  right: 0; }

.lory-carousel .prev {
  left: 0; }

.lory-carousel .next svg, .lory-carousel .prev svg {
  width: 25px; }

.lory-carousel .js_dots {
  display: inline-block;
  text-align: center; }

.lory-carousel .js_dots li {
  display: inline-block;
  text-align: center;
  width: 0.825em;
  height: 0.825em;
  margin: 0.75em 0.25em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }

button.search-submit {
  padding: 0;
  margin: 0;
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 15; }

button.search-submit:after {
  content: none; }

/*# sourceMappingURL=base.css.map */
