/** Fonts **/
/* At this point we set all fonts at PX size, then in the rest of the doc use Em, and Rem */

html { 
    font-size: 16px; 
    box-sizing: border-box; 
}

body { 
    font-size: 1em; 
    font-weight: 400; 
}


/** Links **/

a:hover,
a:focus,
a h1:hover, 
a h1:focus, 
a h2:hover, 
a h2:focus, 
a h3:hover, 
a h3:focus, 
a h4:hover, 
a h4:focus, 
a h5:hover,
a h5:focus,
p a:hover,
p a:focus,
a p:hover,
a p:focus {
    opacity: 0.7;
}

h1 {
    line-height: 1.125em;
}

h2,
h3,
h4,
h5,
h6,
p,
li, {  
    line-height: 125%; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p, 
.entry-meta {
    color: #000;   
    margin: 0.875rem 0;
}

blockquote {
  margin: 1em auto;
  color: #555555;
  padding:1em;
  border-left:0.25em solid #afafaf;
  position: relative;
  background:#EDEDED; 
}

blockquote p {
    font-size: 1.125em;
    font-weight: 600; 
    margin-bottom: 0;
    font-style: italic;
}

p.author {
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-size: 2.125em;
    font-weight: 600;
}

h2 {
    font-size: 1.8125em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em; 
    font-weight: 600;
}

h4 {
    font-size: 1.3125328133203331em;   
    font-weight: 600;
}

h5 {
    font-size: 1.25em;
    font-weight: 600;
}

h6 {
    font-size: 1.125em;
    font-weight: 600;  
    font-style: italic;
}

p,
li,
.entry-meta {
    font-size: 1.125em;
}

strong, bold { 
    font-weight: 700;
}

em, i { 
    font-style: italic; 
}

ul, ol { 
    margin: 0 0 0.875rem 0; 
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

hr {
    margin: 1.5em 0;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 40em) {  /** 640px **/
    
    h1 {
        font-size: 2em;
        font-weight: 700;
    }
        
}

/* Small Devices, Tablets */
@media only screen and (min-width: 50em) {  /** 800px **/

    h1 {
        font-size: 2.25em;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 64em) {  /** 992px **/

    h1 {
        font-size: 2.325em;
    }
                    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 75em) {  /** 1200px **/
        
    h1 {
        font-size: 2.5em;
    }
         
    .wysiwyg {
    
        blockquote p {
            margin: 0;
        }

        p,
        ul {
            margin-bottom: 1.25em;
        }
        
    }
    
}

@media only screen and (min-width: 87.5em) {  /** 1400px **/
        
    h1 {
        font-size: 2.75em;
    }
        
}
