#colophon {
    position: relative;
    width: 100%;
    
    p {
        font-size: 0.8em;
    }

    p, a {
        color: #c7c7c7;
        text-decoration: none;
    }
    
    .copyright {
        float: left;
    }

    .designer {
        float: right;
    }
    
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 40em) {  /** 640px **/

    
}