#colophon {
    position: relative;
    width: 100%;
    
    p {
        font-size: 0.8em;
    }

    p, a {
        color: #c7c7c7;
        text-decoration: none;
    }
    
    .copyright,
    .custom {
        float: left;
        clear: left;        
    }
    
    .custom {
        margin-top: 0;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 40em) {  /** 640px **/

    #colophon {

        .copyright,
        .custom {
            display: inline-block;
            clear: none;
        }
        
        .custom {
            margin-top: 1em;
            margin-left: 0.125em;
        }
        
    }
    
}