.gallery { 
    margin: 0 auto 1.125em;

    .gallery-item {
        float: left;
        margin-top: 0;
        text-align: center;
        overflow: hidden;
        margin: 0.125em 0.125em 0.375em 0.125em;
    }
        
    img {
        position: relative;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;  
        transform: scale(1);
        z-index: 10;
        border: 0.0625em solid #e1e1e1;
    }
    
    img:hover {
        transform: scale(1.05);
    }
        
    .gallery-caption {
        text-align: left;
        position: relative;
        color: #888;
        font-size: 0.8em;        
        background-color: #fff;
        padding: 0.5em;
        z-index: 20;
    }
    
    dl, 
    dt { 
        margin: 0; 
    }
    
    br+br { 
        display: none; 
    }
    
}

.gallery-columns-2 .gallery-item { 
    width: calc(50% - 0.25em); 
}

.gallery-columns-3 .gallery-item { 
    width: calc(33.333% - 0.25em); 
}

.gallery-columns-4 .gallery-item { 
    width: calc(25% - 0.25em); 
}