.author,
.archive,
.category,
.tag {
    
    .page-header {
        margin-top: 1em;
        
        img {
            width: 4em;
            float: left;
            margin: 0 1em 1em 0;
            border-radius: 50%;
        }
        
    }
    
    .page-title {
        
        font-size: 1.5em;
        
    }
}

@media only screen and (min-width: 70em) {  

    .author,
    .archive,
    .category,
    .tag {

        .page-header {
            margin-top: 1.5em;
            
            img {
                margin: 1em 1em 2em 0;
                width: 7em;
            }
            
            .author-note {
                width: 70%;
                margin-left: 7em;
            }
            
        }

        .page-title {
            font-size: 1.8em;
        }
    }
    
}

@media only screen and (min-width: 90em) {  

    .author,
    .archive,
    .category,
    .tag {

        .page-header {
            margin-top: 3em;
            
            .author-note {
                width: 65%;
            }
            
        }

    }
    
}