#main-searchform {
    
}

/** Page **/

#search ul {
    list-style: none;
    position: relative;
}

#search li {
    position: relative;
}

#search li a {
    text-decoration: none;
}

#search a p {
    padding-left: 0.75em;
}

#search a:hover p {
    opacity: 0.6;
}

#search h2 {
    position: relative;
}