.search #main-searchform {
    margin-bottom: 1.125em;
}

#main-searchform {
    
    width: 100%;
    border: 0.0625em solid #c7c7c7;
    background: #fff;
    
    label {
        width: calc( 100% - 2.5em );
        float: left;
    }
    
    input {
        border: 0;
        outline: 0;
        padding: 0;
        width: 100%;
        font-size: 1.25em;
        padding: 0.5em;
    }
    
    button {
        padding: 0.5em;
        margin: 0;
        width: auto;
        position: relative;
        font-size: 1.25em;
        line-height: 1em;
        text-align: center;
        cursor: pointer;
        z-index: 5500;
        background-color: transparent;
        float: left;
    }
    
    button:hover {
        opacity: 0.7;
    }
    
}

/** Page **/

#search ul {
    list-style: none;
    position: relative;
}

#search li {
    position: relative;
}

#search li a {
    text-decoration: none;
}

#search a p {
    padding-left: 0.75em;
}

#search a:hover p {
    opacity: 0.6;
}

#search h2 {
    position: relative;
}


/* Large Devices, Wide Screens */
/* This is delayed due to menu being too long and stacking incorrectly */ 
@media only screen and (min-width: 79.375em) {  /** 1270px **/

    #main-searchform {

        label {
            width: calc( 100% - 4em );
        }

        input {
            padding: 1em;
        }

        button {
            padding: 1em;
        }
        
    }    
    
}