.article-share {
    
    border-top: 0.5em solid #f5f4f2;
    
    .thin-inner {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    
    h2 {
        font-size: 1.5em;
        margin: 0;
        display: inline-block;
    }
    
    a {
        font-size: 1.5em;
        display: inline-block;
        text-transform: uppercase;
        color: #0060ac;
        font-weight: 800;
        margin: 0 0 0 0.5em; 
    }

    a:hover,
    a:focus {
        color: #000; 
    }
        
}

@media only screen and (min-width: 40em) {

    .article-share {

        a {
            margin: 0 0 0 0.8em; 
        }

    }
    
}