/** 
 * This file contains CSS for items shown in a single 
 *
 * For example: Author styling, or comment styling
 */

.single {

    article {

        header {

            .entry-title {
                margin-top: 0;

                a {
                    text-decoration: none;
                }

            }

            .entry-meta {

                position: relative;

                address {
                    display: inline-block;
                }
                
                a {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1em;
                }

                margin-bottom: 0.5em;

            }

        }

        .post-banner {
            width: 100%;
            padding-bottom: 40%;
            position: relative;

            .media-fit {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                overflow: hidden;

                img {
                    margin-top: -1.5em;
                    height: calc(100% + 1.5em);
                    width: 100%;
                }

            }

        }

        footer.entry-meta {

            margin-top: 2em;  
            margin-bottom: 0;
            line-height: 1.25em;

            a {
                display: inline;
            }

            .tag-links {
                a {
                    font-size: 0.9em;
                    color: #555;
                    text-decoration: none;
                    background-color: #dadada;
                    border-radius: 0.125em;
                    padding: 0.25em; 
                    margin: 0 0.125em 0.125em 0;
                }
                
            }

        }

    }
    
    .related-posts {
        margin-top: 1em;
    }
    
}

@media only screen and (min-width: 47.875em) {  /** 766px **/
    
    .single {

        .related-posts {
            margin-top: 1em;
        }
        
    }
    
}
    
@media only screen and (min-width: 64em) {

    .single {

        article {

            .thin-inner {
                position: relative;
            }
            
            header {

                .entry-meta {

                    margin-bottom: 1em;
                
                }
                
            }

        }

    }

}


@media only screen and (min-width: 65em) {
    
    .single {

        .related-posts {
            margin-top: 1em;
        }
        
    }
    
}


@media only screen and (min-width: 75em) {

    .single {

        article {
            
            header {

                .entry-meta {

                    margin-bottom: 1.5em;
                
                }
                
            }

        }

    }

}

@media only screen and (min-width: 100em) {
    
    .single {

        .related-posts {
            margin-top: 1.5em;
        }
        
    }
    
}