/** icons **/

.social.twitter {
    color: #38A0CD;
}

.social.facebook {
    color: #3B5998;
}

.social.google {
    color: #BD081C;
}

.social.flickr {
    color: #F20265;
}

.social.pinterest {
    color: #CC2127;
}

.social.youtube {
    color: #FE0000;
}

.social.vimeo {
    color: #1AB7EA;
}

.social.tumblr {
    color: #314358;
}

.social.dribbble {
    color: #E74D89;
}

.social.linkedin {
    color: #127BB6;
}

.social.instagram {
    color: #3F51B5;
}

.social.behance {
    color: #1769FF;
}

.social.github {
    color: #000;
}

.social.medium {
    color: #00AB6C;
}

.social.print {
    color: #444;
}

.social.email-share {
    color: #da6a33;
}