/* 
 * This file is very specific to the WYSIWYG editor 
 *
 * HOWEVER - Make sure you put the right CSS here. Try not to
 * confused font.css with going in this file. Make everything
 * as slim as possible.
*/

.wysiwyg {
    font-size: 1rem;
}

.wysiwyg a {
    display: inline;
}

.wysiwyg li {
    margin-left: 1.25em;
}

.wysiwyg .alignleft, img.alignleft,
.wysiwyg .alignright, img.alignright,
.wysiwyg .aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 30em) {  /** 480px **/
 
    .wysiwyg {
        font-size: 1.2222222222222223rem;
    }
    
    .wysiwyg .alignleft, img.alignleft {
        margin-right: 0.875em;
        display: inline;
        float: left;
    }

    .wysiwyg .alignright, img.alignright {
        margin-left: 0.875em;
        display: inline;
        float: right;
    }

    .wysiwyg .aligncenter, img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both;
    }
    
}